ul {
    list-style-type: none;
}

// .progress-bar {}

progress {
    /* Important Thing */
    -webkit-appearance: none;
    border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
    background: #989aa2;
    border-radius: 2px;
    padding: 0px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}



/* Now the value part */
progress::-webkit-progress-value {
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background: var(--ion-color-primary);
    transition: width 1s;

}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 55%;
    }
}

@-webkit-keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 55%;
    }
}

@keyframes progress-2 {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@-webkit-keyframes progress-2 {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

@keyframes progress-3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

@-webkit-keyframes progress-3 {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}