<ion-header translucent>
  <ion-toolbar>
    <ion-title>Super Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only"
                  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>{{ title }}</h2>
  <h4>{{ subTitle }}</h4>
  <span *ngIf="isSearch">
    <ion-searchbar showCancelButton="true"
                   (ionChange)="searhcItem($event.detail.value)"
                   (ionClear)="searhcItem(null)"
                   placeholder="Buscar..."></ion-searchbar>
  </span>
  <span *ngIf="type === 'list'">
    <ion-list>
      <ion-item *ngFor="let item of items"
                (click)="dismiss(item)">
        {{ item[prop] }}
      </ion-item>
    </ion-list>
  </span>
  <span *ngIf="type === 'checkbox'">
    <ion-list>
      <ion-item *ngFor="let entry of items; let i = index">
        <ion-label>{{ entry[prop] }}</ion-label>
        <ion-checkbox (ionChange)="setArr($event.detail.checked, entry)"
                      slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button color="primary"
                (click)="dismiss(arrSelect)">Finalizar</ion-button>
  </span>
  <ion-button color="secondary"
              (click)="modalController.dismiss()">Cancelar</ion-button>
</ion-content>